html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url("../fonts/MullerRegular.woff2") format('woff2'),
    url("../fonts/MullerRegular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url("../fonts/MullerMedium.woff2") format('woff2'),
    url("../fonts/MullerMedium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url("../fonts/MullerBold.woff2") format('woff2'),
    url("../fonts/MullerBold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1170px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background: #f1f1f1;
}

/* global */

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-secondary-white: #e9e9e9;
  --color-orange: #cc9933;
  --color-dark-orange: #a47312;
  --color-light-orange: #f0bf5f;
  --color-grey: #666;
  --color-dark-grey: #333;
  --color-light-grey: #999;
}

.list-reset {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.section-title {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-dark-grey);
}

.btn {
  padding: 13px 20px;
  border: 1px solid var(--color-orange);
  border-radius: 10px;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-orange);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:focus {
  outline: none;
  background-color: var(--color-orange);
  color: var(--color-white);
}

.btn:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.btn:active {
  background-color: var(--color-dark-orange);
  color: var(--color-white);
}

.header-link {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.header-link::after {
  content: "";
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  position: absolute;
  outline: 1px solid var(--color-orange);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-link:focus::after {
  opacity: 1;
}

.header-link:focus {
  outline: none;
  color: var(--color-orange);
}

.header-link:hover {
  color: var(--color-orange);
}

.header-link:active::after {
  opacity: 0;
}

.header-link:active {
  color: var(--color-dark-orange);
}

.content-link {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.header__path {
  transition: fill 0.3s ease-in-out;
}

.content-link::after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  outline: 1px solid var(--color-orange);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.content-link:focus::after {
  opacity: 1;
}

.content-link:focus {
  outline: none;
}

.content-link:hover .header__path {
  fill: var(--color-light-orange);
}

.content-link:hover {
  color: var(--color-light-orange);
}

.content-link:active::after {
  opacity: 0;
}

.content-link:active .header__path {
  fill: var(--color-dark-orange);
}

.content-link:active {
  color: var(--color-dark-orange);
}

/* header */

.header {
  padding-top: 30px;
}

.header__starting {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__logo {
  margin-right: 40px;
}

.header__tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-grey);
}

.header__personal {
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-orange);
}

.header__svg {
  margin-right: 5px;
  margin-bottom: 2px;
}

.header__left,
.header__right {
  align-items: center;
}

.header__navigation {
  justify-content: space-evenly;
  align-items: center;
  padding: 14px 0;
  background: var(--color-white);
  border-radius: 15px;
}

.header__nav {
  padding-right: 114px;
}

.nav__link {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-grey);
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

.header__btn:not(:last-child) {
  margin-right: 40px;
}

/* offer */

.offer__article {
  /* position: relative; */
  width: 573px;
  min-height: 258px;
  padding: 40px 108px 40px 45px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.offer__article_img_maldives {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/maldives.jpg");
}

.offer__article_img_crete {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/crete.jpg");
}

.offer__article_img_luxury {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/luxury.jpg");
}

.offer__article_left {
  margin: 0 24px 24px 0;
}

.offer__article_right {
  margin: 0;
  width: 573px;
  min-height: 100%;
  padding: 212px 229px 40px 45px;
}

.offer__heading {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-white);
}

.offer__heading_luxury {
  font-size: 60px;
  line-height: 60px;
}

.offer__descr {
  margin: 0;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
  opacity: 0.8;
}

.offer__descr_luxury {
  font-size: 30px;
  line-height: 30px;
}

.offer__link {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-light-orange);
  background-image: url(../img/rectangle-1.svg);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 15px;
  transition: color 0.3s ease-in-out;
}

.offer__link:hover {
  color: var(--color-orange)
}

.offer__link:active {
  color: var(--color-white)
}

/* about-us */

.about-us__descr {
  max-width: 76%;
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-black);
}

/* services */

.services__list {
  flex-wrap: wrap;
}

.services__item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services__item {
  width: 573px;
  min-height: 330px;
  margin-bottom: 24px;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 573px 165px;
  border: 1px solid #dadada;
  border-radius: 15px;
}

.services__item_img_first {
  background-image: url(../img/services-1.jpg);
}

.services__item_img_second {
  background-image: url(../img/services-2.jpg);
}

.services__item_img_third {
  background-image: url(../img/services-3.jpg);
}

.services__item_img_fourth {
  background-image: url(../img/services-4.jpg);
}

.services__text {
  padding: 180px 126px 35px 45px;
}

.services__heading {
  width: 450px;
}

.services__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-orange);
  background-image: url(../img/rectangle-2.svg);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
  transition: color 0.3s ease-in-out;
}

.services__link:hover {
  color: var(--color-light-orange)
}

.services__link:active {
  color: var(--color-dark-orange)
}

.services__descr {
  margin: 0;
  max-width: 402px;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-black);
}

/* advantages */

.advantages__list {
  flex-wrap: wrap;
}

.advantages__item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages__item {
  width: 276px;
  min-height: 276px;
  margin-bottom: 22px;
  background: var(--color-white);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 66px 66px;
}

.advantages__item_img_first {
  background-image: url(../img/bathtub.svg);
}

.advantages__item_img_second {
  background-image: url(../img/hanger.svg);
}

.advantages__item_img_third {
  background-image: url(../img/heating.svg);
}

.advantages__item_img_fourth {
  background-image: url(../img/hotel-key.svg);
}

.advantages__item_img_fifth {
  background-image: url(../img/parking.svg);
}

.advantages__item_img_sixth {
  background-image: url(../img/reception.svg);
}

.advantages__item_img_seventh {
  background-image: url(../img/security-box.svg);
}

.advantages__item_img_eighth {
  background-image: url(../img/swimming-pool.svg);
}

.advantages__descr {
  margin: 0;
  padding: 116px 45px 32px 42px;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-black);
}

/* placement */

.placement__list {
  flex-wrap: wrap;
}

.placement__item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placement__item {
  width: 374px;
  min-height: 440px;
  margin-bottom: 24px;
  min-height: 440px;
  background: var(--color-white);
  border-radius: 15px;
}

.placement__begging {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-light-grey);
}

.placement__middle {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.placement__end {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
}

.placement__text {
  display: inline-block;
  padding: 32px 53px 16px 45px;
}

.placement__wrapper {
  padding-left: 46px;
}

.placement__heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-black);
}

.placement__descr {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-light-grey);
}

.placement__item_last {
  position: relative;
  padding-top: 373px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-white);
  background-image: url(../img/placement-img.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.placement__link {
  background-image: url(../img/rectangle-3.svg);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
}

.placement__link:focus {
  color: var(--color-orange);
}

.placement__link:hover {
  color: var(--color-light-orange);
}

.placement__link:active {
  color: var(--color-dark-orange);
}

.placement__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* tour */

.tour__container {
  height: 256px;
  margin-bottom: 70px;
  background: var(--color-secondary-white);
  border-radius: 15px;
}

.tour__content {
  padding-top: 45px;
}

.tour-content__form {
  padding-left: 45px;
  margin-right: 45px;
}

.tour-content__title {
  margin-bottom: 26px;
}

.tour-content__wrapper {
  justify-content: space-between;
  padding: 25px 28px 38px 38px;
  background-color: var(--color-white);
  border-radius: 15px;
}

.tour-content__style {
  border: none;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
}

.tour-content__label {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-black);
}

.tour-content__select {
  width: 170px;

}

.tour-content__input {
  width: 125px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.tour-content__btn {
  padding: 13px 30px;
  background-color: var(--color-white);
}

/* contacts */

.contacts__container {
  margin-bottom: 40px;
}

.contacts__address {
  background: var(--color-white);
  min-height: 618px;
  padding: 45px;
  background-image: url(../img/layer-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  background-origin: content-box;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contacts__wrapper {
  width: 400px;
}

.contacts__text {
  width: 100px;
  margin-right: 47px;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.contacts__descr {
  display: inline-block;
  margin: 0;
  max-width: 210px;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  color: var(--color-black);
}

.contacts__link {
  margin-bottom: 3px;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-orange);
}

.contacts__small {
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-light-grey);
}

.contacts__content {
  margin-bottom: 25px;
  min-height: 72px;
  border-bottom: 1px solid var(--color-secondary-white);
}

.contacts__content_graph {
  margin-bottom: 45px;
}

.contacts__content_email {
  height: 120px;
}

.contacts__card {
  flex-direction: column;
  align-items: flex-start;
}

.contacts__btn {
  padding: 27px 30px;
}

/* footer */

.footer__container {
  padding: 45px;
  margin-bottom: 30px;
  background-color: var(--color-dark-grey);
  border-radius: 15px;
  background-image: url(../img/footer-img.svg);
  background-repeat: no-repeat;
  background-position: 740px bottom;
}

.footer__left {
  max-width: 300px;
  margin-right: 125px;
}

.footer__right {
  margin-right: 400px;
}

.footer__descr {
  margin: 0;
  font-size: 16px;
  line-height: 190%;
  color: var(--color-white);
}

.footer__descr_first {
  margin-bottom: 37px;
}

.footer__descr_second {
  margin-bottom: 40px;
}

.footer__descr_third {
  margin-bottom: 15px;
}

.footer__link {
  font-size: 16px;
  line-height: 150%;
  color: var(--color-orange);
}

.footer__link:not(:nth-child(2n)) {
  margin-bottom: 3px;
}

.footer__info {
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-orange);
}

.footer__info:not(:last-child) {
  margin-bottom: 15px;
}

.footer__item {
  margin-bottom: 20px;
}

.footer__svg .footer__path {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
}

.footer__svg:hover .footer__path {
  fill: var(--color-orange);
}

.footer__svg:active .footer__path {
  fill: var(--color-dark-orange);
}
